.git
.idea
.tools
.tmp_pdf_images
.tmp_pycache
logs
postgres_data

**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.venv
**/.env
**/.env.local
**/*.db
**/*.sqlite

**/node_modules
**/.next
**/.npm-cache
**/out
**/build
**/.dart_tool
**/.gradle
**/.kotlin
